<div>
  <p><%= @game.player_1.name %> vs. <%= @game.player_2.name %></p>
</div>

<div>
  <p><%= @game.player_1.name %> hit points: <%= @game.player_1.hit_points %>HP</p>
</div>

<div>
  <p><%= @game.player_2.name %> hit points: <%= @game.player_2.hit_points %>HP</p>
</div>

<div><%= @game.turn.name %>'s turn</div>

<form action='/attack'>
  <input type='submit' value='Attack!'>
</form>
